.createTaskContainer {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.createTaskForm {
  display: flex;
  align-items: center;
}

.taskInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-grow: 1;
  margin-right: 10px;
}

.createButton {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
